<div>
  <div class="BackgroundColorPicker">
    <h3 class="header">Background Color</h3>
    <label class='header' id="hex_label">Hex</label>
    <input class='color-input' type="text"  />
    <div class="color_bar"> </div>
    <div class="RGBBackground">
      <app-color-picker-column [letter]="'R'"></app-color-picker-column>
      <app-color-picker-column [letter]="'G'"></app-color-picker-column>
      <app-color-picker-column [letter]="'B'"></app-color-picker-column>
    </div>
  </div>
</div>
