.BackgroundColorPicker{
  color: white;
}

.BackgroundColorPicker__title {
  text-align: center;
}

.BackgroundColorPicker__header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.BackgroundColorPicker__bar {
  width: 50%;
  height: 3px;
  margin-top: 10px;
  margin-left: 25%;
}

.BackgroundColorPicker__label {
  color: yellow;
  font-size: 20px;
}

.BackgroundColorPicker__input {
  background: none;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
}

.BackgroundColorPicker__RGB {
  display: flex;
  margin-top: 10px;
}
