<div>
  <div class="BackgroundColorPicker">
    <h3 class="BackgroundColorPicker__title">Background Color</h3>
    <div class = "BackgroundColorPicker__header">
      <label class="BackgroundColorPicker__label">Hex</label>
      <input #inputNum class="BackgroundColorPicker__input" type="text" value="#191919"
      (keyup)="changeBackgroundColor$.next(inputNum.value)"
      maxlength="7"
      />
    </div>
    <div class="BackgroundColorPicker__bar"
      [ngStyle]="{'background-color': (colors | async).backgroundHex }">
      <input />
    </div>
    <div class="BackgroundColorPicker__RGB">

      <app-color-picker-column #inputBackgroundRed
        value="{{(colors | async).backgroundRed}}"
        (keyup)="changeBackgroundColorRGB$.next(inputBackgroundRed.value)"
        [letter]="'R'" >
      </app-color-picker-column>

      <app-color-picker-column #inputBackgroundGreen
        value="{{(colors | async).backgroundGreen}}"
        (keyup)="changeBackgroundColorRGB$.next(inputBackgroundGreen.value)"
        [letter]="'G'">
      </app-color-picker-column>

      <app-color-picker-column #inputBackgroundBlue
        value="{{(colors | async).backgroundBlue}}"
        (keyup)="changeBackgroundColorRGB$.next(inputBackgroundBlue.value)"
        [letter]="'B'">
      </app-color-picker-column>

    </div>
  </div>
</div>
