<div>
  <div class="BackgroundColorPicker">
    <h3 class="BackgroundColorPicker__title">Pixel Color</h3>
    <div class = "BackgroundColorPicker__header">
      <label class="BackgroundColorPicker__label">Hex</label>
      <input #pixelInput class="BackgroundColorPicker__input" type="text"
      value="{{(colors | async).pixelHex}}"
      (input)="changePixelColor$.next(pixelInput.value)"
      maxlength="7"
      />
    </div>
    <div class="BackgroundColorPicker__bar"
      [ngStyle]="{'background-color': (colors | async).pixelHex }">
    </div>
    <div class="BackgroundColorPicker__RGB">
      <div class="column column--R" >
        <label class="label">R</label>
        <input class="input" #pixelRGBRed
          (input)="changePixelColorRGB$.next({pixelRed: pixelRGBRed.value,
          pixelGreen: pixelRGBGreen.value,
          pixelBlue: pixelRGBBlue.value})"
          value="{{(colors | async).pixelRed}}" type="text" maxlength="3" />
      </div>

      <div class="column column--G" >
        <label class="label">G</label>
        <input class="input" #pixelRGBGreen
        (input)="changePixelColorRGB$.next({pixelRed: pixelRGBRed.value,
        pixelGreen: pixelRGBGreen.value,
        pixelBlue: pixelRGBBlue.value})"
        value="{{(colors | async).pixelGreen}}" type="text" maxlength="3"/>
      </div>

      <div class="column column--B" >
        <label class="label">B</label>
        <input class="input" #pixelRGBBlue
        (input)="changePixelColorRGB$.next({pixelRed: pixelRGBRed.value,
        pixelGreen: pixelRGBGreen.value,
        pixelBlue: pixelRGBBlue.value})"
          value="{{(colors | async).pixelBlue}}" type="text" maxlength="3"
        />
      </div>

    </div>
  </div>
</div>
