<p>
  choose-size works!
</p>

<form>
  <div class = "ChooseSize">
    <div class = "ChooseSize_row">
      <div class = "ChooseSize_column">
          <label> Column </label>
          <input class = "" #gridColumnCount/>
      </div>
      <div class = "ChooseSize_column">
        <label> Row </label>
        <input class = "" #gridRowCount/>
      </div>
    </div>
    <div class = "ChooseSize_row">
      <div class = "ChooseSize_row">
        <div class = "ChooseSize_column">
          <label> Pixel Size </label>
          <input class = "" #gridPixelSize/>
        </div>
        <div class = "ChooseSize_column">
          <button type="button" (click)="initGrid()" ></button>
        </div>
      </div>
    </div>
  </div>
</form>
