<form>
  <div class = "ChooseSize">
    <div class = "ChooseSize_row">
      <div class = "ChooseSize_column">
          <label class = "ChooseSize_label"> Column </label>
          <input class = "ChooseSize_input ChooseSize_input--column"
          type="number" value="{{(gridSettings | async).column }}"
           #columnCount/>
      </div>
      <div class = "ChooseSize_column">
        <label class = "ChooseSize_label ChooseSize_label--row"> Row </label>
        <input class = "ChooseSize_input ChooseSize_input--row"
        type="number" value="{{(gridSettings | async).row }}"
        #rowCount/>
      </div>
    </div>
    <div class = "ChooseSize_row">
      <div class = "ChooseSize_row">
        <div class = "ChooseSize_column">
          <label class = "ChooseSize_label ChooseSize_label--pixel"> Pixel Size </label>
          <input class = "ChooseSize_input ChooseSize_input--pixel" type="number" value="{{(gridSettings | async).pixelSize }}"
          #pixelSize/>
        </div>
        <div class = "ChooseSize_column ChooseSize_label--column">
          <button type="button" (click)="changeGridSettings$.next(
          {
            columnCount: columnCount.value,
            rowCount: rowCount.value,
            pixelSize: pixelSize.value
          }
           )" >Initialize Grid</button>
        </div>
      </div>
    </div>
  </div>
</form>
<app-color-picker *ngIf="(gridSettings | async).initGrid"></app-color-picker>
<app-pixel-grid *ngIf="(gridSettings | async).initGrid" [row]="20" [column]="20" [pixelSize]="10"></app-pixel-grid>
