<p>
  choose-size works!
</p>

<form>
  <div class = "ChooseSize">
    <div class = "ChooseSize_row">
      <div class = "ChooseSize_column">
          <label> Column </label>
          <input type="number" #columnCount/>
      </div>
      <div class = "ChooseSize_column">
        <label> Row </label>
        <input type="number" #rowCount/>
      </div>
    </div>
    <div class = "ChooseSize_row">
      <div class = "ChooseSize_row">
        <div class = "ChooseSize_column">
          <label> Pixel Size </label>
          <input type="number" #pixelSize/>
        </div>
        <div class = "ChooseSize_column">
          <button type="button" (click)="changeGridSettings$.next(
          {
            columnCount: columnCount.value,
            rowCount: rowCount.value,
            pixelSize: pixelSize.value
          }
           )" ></button>
        </div>
      </div>
    </div>
  </div>
</form>
