.input{
  width: 100%;
  font-size: 15px;
  background: none;
  border: none;
  text-align: center;
}
.column{
  display: flex;
  flex-direction: column;
}

.letter-R {
  color: red;
}

.letter-G {
  color: green;
}

.letter-B {
  color: blue;
}
